{% if comments|length > 0 %}
    {% for comment in comments %}
        {% set avatar = asset('images/users_pictures/default.jpg') %}
        {% if comment.author.avatar %}
            {% set avatar = asset('images/tricks_pictures/'~comment.author.avatar) %}
        {% endif %}
        <div id="one_comment" class="flex my-3 border-2">
            <div id="author" class="w-32 p-2 text-left">
                <img src="{{ avatar }}" class="h-12 w-12 rounded-full"/>
                {{ comment.author.username }}
            </div>
            <article class="w-1/2 p-2 text-left">
                <p class="pl-px text-cyan-600">
                    {{ comment.createdAt|date('Y-m-d H:i:s') }}
                </p>
                <p class="pl-px">
                    {{ comment.content }}
                </p>
            </article>
        </div>
    {% endfor %}
    <div class="text-center underline hover:italic hover:text-cyan-300">
        {% if previous >= 0 %}
            <a href="{{ path('app_trick_show', { slug: trick.slug, offset: previous }) }}#trick-comment-index">
                previous comments
            </a>
        {% endif %}
    </div>
    <div class="mb-10 text-center underline hover:italic hover:text-cyan-300">
        {% if next < comments|length %}
            <a href="{{ path('app_trick_show', { slug: trick.slug, offset: next }) }}#trick-comment-index">
                next comments
            </a>
        {% endif %}
    </div>
{% else %}
    <div>No comments have been posted yet for this trick.</div>
{% endif %}