    <h2>--- Comments about this trick ---</h2>

    {% if comments|length > 0 %}
        <div>THERE ARE {{ comments|length }} COMMENTS</div>
            {% for comment in comments %}
                {% if comment.author.avatar %}
                    <img src="{{ asset('images/users_pictures/' ~ comment.author.avatar) }}" />
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" />
                    </svg>
                {% endif %}
                <p><strong>{{ comment.author.username }}</strong></p>
                <p>{{ comment.content }}</p>
            {% endfor %}

            {% if previous >= 0 %}
                <a href="{{ path('app_trick_show', { id: trick.id, offset: previous }) }}"><strong><em>PREVIOUS</em></strong></a>
            {% endif %}
            {% if next < comments|length %}
                <a href="{{ path('app_trick_show', { id: trick.id, offset: next }) }}"><strong><em>NEXT</em></strong></a>
            {% endif %}
        </div>
    {% else %}
        <div>No comments have been posted yet for this trick.</div>
    {% endif %}



    {# <h2>Comments sous forme de tableau avec Paginator mais pas next/previous</h2>
    <table class="table"> #}
        {# <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead> #}
        {# <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.author.avatar }}-AVATAR-</td>
                <td>{{ comment.author.username }}</td>
                <td>{{ comment.content }}</td> #}
                {# <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td> #}
            {# </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}