<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!--link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"-->
        <link rel="icon" href="images/Logo.png" type="image/x-icon">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            
            <!-- Renders a link tag (if your module requires any CSS)
                <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js" defer></script>
                <script src="/build/app.js" defer></script>
                The "defer" attribute on the script tags delays the execution of the JavaScript until the page loads e -->
        {% endblock %}
    </head>
    <body class="bg-white text-slate-600 text-sm md:text-base">
        
        <header class="headfoot bg-cyan-700 p-2 drop-shadow-lg">

            <a class="w-14 h-14" href="{{path('app_home')}}">
                <img src="images/Logo.png" alt="Snowtricks' Logo: black&white vector image of jumping snowboarder">
            </a>

            <nav class="w-3/6">
                <ul class="flex justify-between">
                    <li>
                        <a href="{{ path('app_home') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ path('app_home') }}#tricksindex">Tricks</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED')%}
                        <li>
                            <a href="{# path('app_user_show', {'id': user.id}) #}">Profile</a>
                        </li>
                        <li>
                            <a href="{{ path('app_logout') }}">Log out</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('app_login') }}">Log in</a>
                        </li>
                        <li>
                            <a href="{{ path('app_user_new') }}">Sign up</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        </header>

        {% for notice in app.flashes('notice') %}
            <div class="flash-notice bg-sky-200 text-center italic text-amber-700 animate-pulse">
                {{ notice }}
            </div>
        {% endfor %}

        {% block main %}{% endblock %}

        <footer class="headfoot bg-slate-600">
                <p>Copyright Annaig Jégourel @ {{ "now"|date("Y") }}</p>
        </footer>

    </body>
</html>
