<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        
        <header>

            <a href="{{path('app_home')}}">
                <img src="#" alt="Snowtricks' Logo">
            </a>

            <nav>
                <ul>
                    <li>
                        <a href="{{ path('app_home') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ path('app_home') }}#tricksindex">Tricks</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED')%}
                        <li>
                            <a href="{{ path('app_user_show', {'id': user.id}) }}">Profile (show user)</a>
                        </li>
                        <li>
                            <a href="{{ path('app_logout') }}">Log out</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('app_login') }}">Log in</a>
                        </li>
                        <li>
                            <a href="{{ path('app_user_new') }}">Sign up (new user)</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

            {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}

        </header>

        {% block main %}{% endblock %}

        <footer>
                <p>Copyright Annaig Jégourel - {{ "now"|date("Y") }}</p>
                <p>
                    <a href="#">{{'back_to_top' | trans }}</a>
                </p>

        </footer>

    </body>
</html>
