{{ form_start(form) }}
{{ form_errors(form) }}
    <!-- HERO -->
    {% set mainImage = asset('images/tricks_pictures/default.jpg') %}
    {% if trick.mainImageName %}
        {% set mainImage = asset('images/tricks_pictures/main_images/'~trick.mainImageName) %}
    {% else %}
        {% if trick.images %}
            {% for image in trick.images %}
                {% if trick.images[0].name %}                        
                    {% set mainImage = asset('images/tricks_pictures/'~trick.images[0].name) %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
    <section    id="form-hero" class="w-full p-5 text-center"
                style="background-image: url({{ mainImage }}); background-position: center; background-size: cover;">
        <!--- Main Image form -->
        <div class="flex justify-center">
            <div class="flex flex-col items-center w-fit rounded-md p-2 bg-white/60">
                <div id="mainImg" class="hidden">
                    {{ form_label(form.mainImageFile) }}
                    {{ form_widget(form.mainImageFile, {'attr': {'class': 'mb-4'}}) }}
                    <div class="form-error">
                        {{ form_errors(form.mainImageFile) }}
                    </div>
                </div>
                <div class="flex">
                    <button type="button" class="update_main_image" onclick="toggleMainImg()">
                        <svg class="w-6 h-6 fill-pink-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                            <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                        </svg>
                    </button>
                    {% if trick.mainImageName %}
                        <a href="{{ path('app_trick_remove_main_image', { slug: trick.slug }) }}"
                            onclick="return confirm('Are you sure you want to delete this image?')">
                            <svg  class="w-6 h-6 fill-pink-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Title: trick name -->
        <div class="grid grid-cols-14 m-6 md:m-20 text-center">
            {% if trick.name %}
                {% set trick_name = trick.name %}
            {% else %}
                {% set trick_name = "New trick" %}
            {% endif %}
            <h1 class="col-start-2 col-span-12 h-fit rounded-lg shadow-lg p-5 bg-white/60">
                {{ trick_name }}
            </h1>
        </div>
    </section>
    <!-- DETAILS -->
    <section id="form-details" class="md:w-5/6 p-2 text-center">
        <!-- Medias Collections -->
        <button class="btn sm:hidden mt-2 mb-6 border-2 border-slate-500 p-2 bg-cyan-400 text-center align-middle text-slate-600"
                type="button"
                onclick="toggleMedias()">
                    See / hide medias
        </button>
        <div id="medias_form" class="hidden sm:block lg:flex">
            <!-- pictures -->
            <div id="images_form" class="form-control lg:w-3/6 mb-4 p-px">
                {{ form_label(form.images) }}
                <ul id="images-fields-list"
                    data-index="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}"
                    data-prototype="{{ form_widget(form.images.vars.prototype)|e }}"
                    data-widget-tags="{{ '<li></li>'|e }}"
                    data-widget-counter="{{ form.images|length }}"
                    class="holder-images flex flex-wrap justify-center p-2">
                        {{ form_errors(form.images) }}
                        {% for input_image in form.images %}
                            <li class="bg-slate-200 m-2 sm:w-3/6 lg:w-2/6 p-2">     
                                <img    
                                    src="{{ vich_uploader_asset(input_image.vars.value, 'file') }}"
                                    alt="picture of a snowboarder doing a {{ trick.name }}" 
                                />
                                {# <div id="imgfile" class="hidden p-2 text-sm"> #}
                                <div id="{{ input_image.vars.value.id }}" class="hidden target:block overflow-hidden p-2 text-sm">
                                    {{ form_widget(input_image, {'attr': {'class': 'mb-2'}}) }}
                                </div>
                                {# <button type="button" onclick="toggleFile()"> #}
                                <a href="#{{ input_image.vars.value.id }}">
                                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                        <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                        <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                                    </svg>
                                </a>
                                {# </button> #}
                            </li>
                        {% endfor %}
                </ul>
                <button type="button"
                        class="add_item_link btn my-6 bg-slate-500 text-white"
                        data-collection-holder-class="holder-images">
                            Add an image!
                </button>
            </div>
            <!-- videos -->
            <div id="videos_form" class="form-control lg:w-3/6 mb-4 p-px">
                {{ form_label(form.videos) }}
                <ul id="videos-fields-list"
                    data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}"
                    data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}"
                    data-widget-tags="{{ '<li></li>'|e }}"
                    data-widget-counter="{{ form.videos|length }}"
                    class="holder-videos flex flex-wrap justify-center p-2">
                        {{ form_errors(form.videos) }}
                        {% for input_video in form.videos %}
                            <li class="bg-slate-200 m-2 sm:w-3/6 lg:w-2/6 p-2">                        
                                <iframe src="{{input_video.vars.value.link}}"
                                        class="w-full"
                                        title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen>
                                </iframe>

                                {# <div id="video_link" class="hidden"> #}
                                <div id="{{ input_video.vars.value.id }}" class="hidden target:block">
                                    {{ form_widget(input_video, {'attr': {'class': 'overflow-hidden mb-2 p-4'}}) }}
                                </div>
                                {# <button type="button" onclick="toggleVideoLink()"> #}
                                <a href="#{{ input_video.vars.value.id }}">
                                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                        <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                        <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                                    </svg>
                                </a>
                                {# </button> #}
                            </li>
                        {% endfor %}
                </ul>
                <button type="button"
                        class="add_item_link btn my-6 bg-slate-500 text-white"
                        data-collection-holder-class="holder-videos">
                            Add a video!
                </button>
            </div>
        </div>
        <!-- Informations -->
        <div id="trick-infos" class="ml-4 text-left">
            <div class="form-control">
                {{ form_label(form.name) }}
                </br>
                {{ form_widget(form.name, {'attr': {'class': 'm-4 border-2 border-slate-500 bg-slate-100 p-2'}}) }}
                <div class="form-error">
                    {{ form_errors(form.name) }}
                </div>
            </div>
            <div class="form-control">
                {{ form_label(form.description) }}
                </br>
                {{ form_widget(form.description, {'attr': {'class': 'm-4 w-5/6 h-40 border-2 border-slate-500 bg-slate-100 p-2'}}) }}
            </div>
            <div class="form-control">
                {{ form_label(form.category) }}
                </br>
                {{ form_widget(form.category, {'attr': {'class': 'm-4 border-2 border-slate-500 bg-slate-100 p-2'}}) }}
            </div>
            <div class="flex justify-end mr-10">
                <button class="btn m-2 w-20 bg-cyan-100 text-slate-700">
                    {{ button_label|default('Create') }}
                </button>
            </div>
        </div>
    </section>
{{ form_end(form) }}

<!-- CODE JS -->
{% block javascripts %}
    <!--- Toggle main image form -->
    <script>
        function toggleMainImg() {
            var element = document.getElementById("mainImg");
            element.classList.toggle("hidden");
        }
    </script>

    <!--- Manage collections -->
    <script>
        window.addEventListener('load', function () {
            const addTagFormDeleteLink = (item) => {
                //Bouton dans update / new (sélection avant envoi en db)
                const removeFormButton = document.createElement('button');
                removeFormButton.innerHTML = `
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
                    </svg>
                `;

                item.append(removeFormButton);

                removeFormButton.addEventListener('click', (e) => {
                    e.preventDefault();
                    // remove the li for the ITEM form
                    item.remove();
                });
            }

            // prend le prototype, remplace __name__ et insère dans le html
            const addFormToCollection = (e) => {
                const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

                const item = document.createElement('li');

                item.innerHTML = collectionHolder
                    .dataset
                    .prototype
                    .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                    );

                collectionHolder.appendChild(item);

                collectionHolder.dataset.index++;
                // add a delete link to the new form
                addTagFormDeleteLink(item);
            };
            
            // détecte le click sur le bouton ayant la classe add_item_link & execute la fonction addFormToCollection
            document
            .querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
            });

            //ajout du lien delete pour chaque image en bdd cf. const/fonction cidessus en 1e?
            document
            .querySelectorAll('ul.holder-images li')
            .forEach((img) => {
                addTagFormDeleteLink(img)
            })

            //ajout du lien delete pour chaque video...
            document
            .querySelectorAll('ul.holder-videos li')
            .forEach((vd) => {
                console.log(vd)
                addTagFormDeleteLink(vd)
            })
        })
    </script>

    <!--- Toggle media (collections block) -->
    <script>
        function toggleMedias() {
            var element = document.getElementById("medias_form");
            element.classList.toggle("hidden");
        }
    </script>

    <!--- Toggle collection video link -->
    <script>
        function toggleVideoLink() {
            var element = document.getElementById("video_link");
            element.classList.toggle("hidden");
        }
    </script>

    <!--- Toggle collection image file -->
    <script>
        function toggleFile() {
            var element = document.getElementById("imgfile");
            element.classList.toggle("hidden");
        }
    </script>

{% endblock %}