{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<h3>Category Form</h3>
{{ form_start(categoryForm) }}
    {{ form_widget(categoryForm) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(categoryForm) }}
