{{ form_start(form) }}

    <!-- Trick -->
    {{ form_errors(form) }}
    
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.category) }}
    
    <!-- Images -->
    {{ form_label(form.images) }}

    <ul id="images-fields-list"
        data-index="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(form.images.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ form.images|length }}"
        class="holder-images">

            {{ form_errors(form.images) }}
            {{ form_widget(form.images) }}
    </ul>

    <button type="button" class="add_item_link" data-collection-holder-class="holder-images">Add an image</button>



    <!-- Videos -->
    <h2>Pour ajouter une vidéo, copiez le lien YouTube (et ajoutez "embed" à l'url!!!):</h2>
    {{ form_label(form.videos) }}

    <ul id="videos-fields-list"
        data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ form.videos|length }}"
        class="holder-videos">

            {{ form_errors(form.videos) }}
            {{ form_widget(form.videos) }}
    </ul>

    <button type="button" class="add_item_link" data-collection-holder-class="holder-videos">Add a video</button>






    <h2>C'est tout bon?</h2>
    <button class="btn">{{ button_label|default('Save') }}</button>

    <p>-FIN DU FORM-</p>
{{ form_end(form) }}

{% block javascripts %}
    <script>
    window.addEventListener('load', function () {
        const addTagFormDeleteLink = (item) => {
            //Bouton dans update / new (sélection avant envoi en db)
            const removeFormButton = document.createElement('button');
            removeFormButton.innerText = 'Remove this item';

            item.append(removeFormButton);

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                // remove the li for the ITEM form
                item.remove();
            });
        }

        // prend le prototype, remplace __name__ et insère dans le html
        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                /__name__/g,
                collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
            // add a delete link to the new form
            addTagFormDeleteLink(item);
        };
        
        // détecte le click sur le bouton ayant la classe add_item_link & execute la fonction addFormToCollection
        document
        .querySelectorAll('.add_item_link')
        .forEach(btn => {
            btn.addEventListener("click", addFormToCollection)
        });

        //ajout du lien delete pour chaque image? cf. const/fonction cidessus en 1e?
        document
        .querySelectorAll('ul.holder-images li')
        .forEach((img) => {
            addTagFormDeleteLink(img)
        })

        //ajout du lien delete pour chaque video...
        document
        .querySelectorAll('ul.holder-videos li')
        .forEach((vd) => {
            addTagFormDeleteLink(vd)
        })


    })
    </script>
{% endblock %}
