{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block main %}
    
    <!-- HERO -->
    <section class="h-screen bg-right bg-no-repeat bg-cover bg-gradient-to-t" style="background-image: url(images/hero.jpg)">
        <h1>Welcome to Snowtricks!</h1>
        <p class="text-2xl font-serif italic text-slate-800 text-center">Collaborative blog about snowboard tricks - by and for snowboard fans</p>
    </section>

    {% if is_granted('IS_AUTHENTICATED')%}
    <div class="text-center">
        <a  class="p-6 rounded-lg shadow-lg bg-slate-500 hover:bg-cyan-500 text-white text-center text-2xl italic font-medium m-1"
            href="{{ path('app_trick_new') }}">
                Create a new Trick!
        </a>
    </div>
    {% endif %}

    <!-- TRICKS CARDS -->
    <section id="tricksindex" class="flex flex-wrap px-1.5 py-3 place-items-center h-screen">
        {% if tricks|length > 0 %}
            <div>THERE ARE {{ tricks|length }} TRICKS</div>
                {% for trick in tricks %}
                    <!-- card -->
                    <div class="overflow-hidden mt-8 shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-5 hover:shadow-2xl rounded-lg h-90 w-60 md:w-80 cursor-pointer m-auto">
                        <a href="{{ path('app_trick_show', {'id': trick.id}) }}" class="w-full block h-full">
                            <!-- Remplacer par 1ere img du Tricks si existe-->
                            <img alt="placeholder" src="https://via.placeholder.com/450x450" class="h-60 w-full object-cover"/>
                            <div class="flex justify-between items-center bg-white w-full p-4">
                                <p class="text-cyan-500 text-2xl font-medium m-1">{{ trick.name }}</p>
                                {% if is_granted('IS_AUTHENTICATED')%}
                                    <!-- Edit -->
                                    <div>
                                        <a href="{{ path('app_trick_edit', {'id': trick.id}) }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-green-700">
                                                <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                                <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                                            </svg>
                                        </a>
                                    </div>
                                    <!-- Delete -->
                                    <div>
                                        {{ include('trick/_delete_form.html.twig') }}
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    <!-- (card end)-->
                {% endfor %}
                {% if previous >= 0 %}
                    <a href="{{ path('app_home', { offset: previous }) }}"><strong><em>PREVIOUS</em></strong></a>
                {% endif %}
                {% if next < tricks|length %}
                    <a href="{{ path('app_home', { offset: next }) }}"><strong><em>NEXT</em></strong></a>
                {% endif %}
            </div>
        {% else %}
            <div>No tricks have been posted yet.</div>
        {% endif %}
    </section>

    <div class="text-right">
        <a  class="m-6 p-6 rounded-lg shadow-lg hover:bg-slate-400 bg-cyan-500 text-white text-center italic text-2xl font-medium"
            href="#tricksindex">Back to index top</a>
    </div>

{% endblock %}
