{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block main %}
    
    <section class="h-screen bg-right bg-no-repeat bg-cover bg-gradient-to-t font-serif italic text-slate-800 text-center" style="background-image: url(images/hero.jpg)">
        <h1 class="pt-20 pb-12 text-6xl font-bold">Welcome to Snowtricks!</h1>
        <p class="text-2xl">Collaborative blog about snowboard tricks - by and for snowboard fans</p>
    </section>

    <section id="tricksindex">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for trick in tricks %}
                <tr>
                    <td>{{ trick.name }}</td>
                    <td>{{ trick.description }}</td>
                    <td>{{ trick.category.name }}</td>
                    <td>
                        <a href="{{ path('app_trick_show', {'id': trick.id}) }}">show</a>
                        {% if is_granted('IS_AUTHENTICATED')%}
                            <a href="{{ path('app_trick_edit', {'id': trick.id}) }}">edit</a>
                            {{ include('trick/_delete_form.html.twig') }}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if is_granted('IS_AUTHENTICATED')%}
            <a href="{{ path('app_trick_new') }}">Create new</a>
        {% endif %}

        <a href="#tricksindex">back to index top</a>
    </section>

{% endblock %}
