{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block main %}
    <h1> {{ trick.name }} </h1>

    <table class="table">
        <tbody>

            <!-- LES IMAGES -->
            {% if trick.images %}
                {% for image in trick.images %}
                    <tr>
                        <th>Image #{{image.id}}</th>
                        <td>
                        {# {{dump(vich_uploader_asset(image, "file"))}} #}
                            <img   src="{{ vich_uploader_asset(image, "file") }}" 
                                    alt="picture of a snowboarder doing a {{ trick.name }}" 
                                    style="width: 25%; height:auto;"
                            />
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}

            <!-- LES VIDEOS -->
            {% if trick.videos %}
                {% for video in trick.videos %}
                    <tr>
                        <th>Video #{{video.id}}</th>
                        <td>
                            <iframe width="560"
                                    height="315"
                                    src="{{ video.link }}"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen>
                            </iframe>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}

            <!-- LES INFOS -->
            <tr>
                <th>Name</th>
                <td>{{ trick.name }}</td>
            </tr>

            <tr>
                <th>Description</th>
                <td>{{ trick.description }}</td>
            </tr>

            <tr>
                <th>Category</th>
                <td>{{ trick.category.name }}</td>
            </tr>

        </tbody>
    </table>

    <!-- LINKS HOME, EDIT, DELETE -->
    <a href="{{ path('app_home') }}">back to list</a>

    {% if is_granted('IS_AUTHENTICATED')%}

        <a href="{{ path('app_trick_edit', {'id': trick.id}) }}">edit</a>

        {{ include('trick/_delete_form.html.twig') }}

    {% endif %}

    <!-- LES COMMENTAIRES -->
    <!-- formulaire de création -->
    {% if is_granted('IS_AUTHENTICATED')%}
        <div class="bg-pink-100 text-center text-bold">
            {# <a href="{{ path('app_comment_new') }}">Leave a comment!</a> #}
            <p>Leave a comment!</p>
            {{ include('comment/_form.html.twig') }}
        </div>
    {% endif %}
    <!-- index / liste paginée -->
    <div class="bg-slate-300 text-center text-bold">
        {{ include('comment/index.html.twig') }}
    </div>

{% endblock %}
