{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block main %}
    {% set bgImage = asset('images/hero.jpg') %}
    <div    class="bg-slate-100 md:border-y-2 md:border-t-cyan-700" 
            style="background-image: url({{ bgImage }}); background-position: top; background-size: contain; background-repeat: no-repeat;">
        <div id="trick-main" class="md:mt-40 md:mb-20 md:mx-32 md:flex md:flex-col md:items-center  md:shadow-lg">
            {% set mainImage = asset('images/tricks_pictures/default.jpg') %}
            {% if trick.images %}
                {% for image in trick.images %}
                    {% if trick.images[0].name %}
                        {% set mainImage = asset('images/tricks_pictures/'~trick.images[0].name) %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            <section    id="trick-hero" class="w-full grid grid-cols-14 p-5 text-center"
                        style="background-image: url({{ mainImage }}); background-position: center; background-size: cover;">
                {% if is_granted('IS_AUTHENTICATED')%}
                <div class="col-start-12 col-span-2 flex w-fit rounded-lg shadow-lg pt-1 px-1 bg-white/60">
                    <div class="p-px">
                        <a href="{{ path('app_trick_edit', {'id': trick.id}) }}">
                            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                            </svg>
                        </a>
                    </div>
                    <div class="p-px">
                        {{ include('trick/_delete_form.html.twig') }}
                    </div>
                </div>
                {% endif %}
                <div class="col-start-2 col-span-12 m-6 md:m-20 text-center">
                    <h1 class="h-fit rounded-lg shadow-lg p-5 bg-white/60"> {{ trick.name }} </h1>
                </div>
            </section>
            <section id="trick-details" class="bg-white p-6 text-center">
                <button class="sm:hidden mt-2 mb-6   rounded-lg shadow-md p-2 bg-cyan-400 text-center align-middle text-slate-600" onclick="toggleMedias()">See / hide medias</button>

                <div id="medias" class="hidden sm:block md:flex">
                    <ul class="md:w-3/6 flex flex-wrap justify-center">
                        {% if trick.images %}
                            {% for image in trick.images %}
                                <li class="sm:w-3/6 lg:w-2/6 p-2">
                                    <img   src="{{ vich_uploader_asset(image, "file") }}" 
                                            alt="picture of a snowboarder doing a {{ trick.name }}" 
                                    />
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <ul class="md:w-3/6 flex flex-wrap justify-center">
                        {% if trick.videos %}
                            {% for video in trick.videos %}
                                <li class="sm:w-3/6  lg:w-2/6 p-2">
                                    <iframe src="{{ video.link }}"
                                            class="w-full"
                                            title="YouTube video player"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                            allowfullscreen>
                                    </iframe>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>

                <article class="p-2 md:p-10 lg:px-40">
                    <p class="text-left"> {{ trick.description }} </p>
                    <ul class="flex justify-center my-5 p-2">
                        <li class="w-3/6 p-px bg-slate-200 text-center align-middle text-slate-600"> {{ trick.name }} </li>
                        <li class="mx-2 md:mx-6 w-3/6 p-px bg-slate-200 text-center align-middle text-slate-600"> {{ trick.category.name }} </li>
                        <li class="w-3/6 p-px bg-slate-200 text-center align-middle text-slate-600"> {{ trick.updatedAt|date("m/d/Y") }} </li>
                    </ul>
                </article>

                <div id="trick-comments" class="p-2 md:px-10 md:pb-10 lg:px-20">
                    {% if is_granted('IS_AUTHENTICATED') %}
                        <div class="bg-slate-300 px-2 py-8 text-center text-bold">
                            {{ include('comment/_form.html.twig') }}
                        </div>
                    {% endif %}
                    <div id="trick-comment-index" class="pt-6 px-2 md:pt-20 md:px-20 text-center text-bold">
                        {{ include('comment/index.html.twig') }}
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function toggleMedias() {
            var element = document.getElementById("medias");
            element.classList.toggle("hidden");
        }
    </script>
{% endblock %}
